<!-- =======================
	SPYGLASS CONFIGURATION
	======================= -->

<spyglassConfiguration>
	<!--  -->
	<packetDeliveryInitialDelay>1000</packetDeliveryInitialDelay>
	
	<!--  -->
	<packetDeliveryDelay>400</packetDeliveryDelay>

	<!--  -->
	<framesPerSecond>25</framesPerSecond>

	<!-- canvas that is beeing used to produce visual output -->
	<canvas class="de.uniluebeck.itm.spyglass.drawing.Canvas2D" />

	<!-- the PacketReader class that reads and parses the packets, coming from the specified gateway -->
	<packetReader class="de.uniluebeck.itm.spyglass.packet.SimplePacketReader">
		<gateway class="de.uniluebeck.itm.spyglass.gateway.FileReaderGateway">
			<file>source.packet.txt</file>
		</gateway>
	</packetReader>

	<!-- parametrization of the plugin manager and the loaded plugins -->
	<pluginManager>
		<plugins class="java.util.ArrayList">

			<!-- load one nodepainter plugin and it's configuration -->
			<plugin class="de.bsi.flegsens.FlegsensNodePainterPlugin" isActive="true" />

		</plugins>
	</pluginManager>

	<nodePositioner class="de.bsi.flegsens.RandomNodePositioner" isActive="true" />

</spyglassConfiguration>