<spyglassConfiguration>
   <visualizationDelay>100</visualizationDelay>
   <visualizationInitialDelay>1000</visualizationInitialDelay>
   <packetReader class="net.sf.spyglass.packet.SimplePacketReader">
      <gateway class="net.sf.spyglass.gateway.FileReaderGateway">
         <file>source.packet.txt</file>
      </gateway>
   </packetReader>
   <canvas class="net.sf.spyglass.drawing.Canvas2D"/>
   <pluginManager>
      <plugins class="java.util.ArrayList">
         <plugin class="net.sf.spyglass.plugin.NodePainterPlugin" priority="0" isActive="true">
            <defaultDrawingObject class="net.sf.spyglass.drawing.primitive.Rectangle">
               <width>20</width>
               <height>20</height>
               <colorR>200</colorR>
               <colorG>0</colorG>
               <colorB>0</colorB>
            </defaultDrawingObject>
         </plugin>
      </plugins>
   </pluginManager>
</spyglassConfiguration>